<div class="container-fluid mt-3 w-100">
    <div>
        <div class="row align-items-center">
            <div class="col" *ngFor="let item of home">
                    <div *ngIf="item.Departamento === 'Cauca'">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src={{item.img}} alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{item.Nombre}}</h5>
                            </div>
                    </div>
                    <ng-template>
                        
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>